body {
 background-color: #e0ffe0; 
}

p {
color: #00ff00;
}

#header {
 width: 80%;
 background-color: #98ef98;
 padding: 25px;
}

#nav {
width: 80%;
background-color: #55cc55
}

#nav a {
color: black;
text-decoration: none;
 margin: auto;
 padding: 15px;
}

#body-wrap {
 width: 80%;
 background-color: #ccffcc;
 padding: 15px;
 margin: auto;
}
