body {
 background-color: #e0ffe0; 
}

p {
color: #00ff00;
}

#header {
 background-color: #ccffcc;
 padding: 25px;
}

#body-wrap {
 width: 80%;
 background-color: #dddddd;
 padding: 15px;
 margin: auto;
}
