body {
background-color: #e0ffe0; 
}

p {
color: #00ff00;
}

#header {
width: 80%;
background-color: #98ef98;
padding: 25px;
margin: auto;
}

#nav {
width: 80%;
background-color: #55cc55;
padding: 25px;
margin: auto;
}

#nav a {
color: #ffffff;
background-color: #000000;
text-decoration: none;
margin: auto;
padding: 15px;
}

#body-wrap {
width: 80%;
background-color: #ccffcc;
padding: 15px;
margin: 30px auto;
}
